#div_toolbar img {
    vertical-align: top;
}
#template_form_cell {
    position: relative;
    float: left;
    display:none;
}
/* .modal-body {
    min-height: calc(60% - 25px);
} */
/* .modal-footer {
    max-height: 30px;
} */