    
<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-pop-neurons" class="form-horizontal col-sm-12" role="form">
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="name_value">Name : </label>
                        <div class="col-sm-10">
                            <input id="name_value" name="name_value" type="text" placeholder="Name..." class="form-control input-md" ng-model="name_value">
                        </div>
                    </div>
                        
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="level">Level : </label>  
                        <div class="col-sm-10">
                            <input id="level" name="level" type="text" placeholder="level..." class="form-control input-md" ng-model="level">
                        </div>
                    </div>
                    
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="size">Size : </label>
                        <div class="col-sm-3">
                            <input id="size" name="size" type="number" min="0" step="1" placeholder="size" class="form-control input-md" ng-model="size">
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="celltype">Cell Type : </label>
                        <div class="col-sm-10">
                            <!-- <select id="celltype" name="celltype" class="form-control" ng-model="celltype"> -->
                            <select id="celltype" name="celltype" class="form-control" ng-model="celltype" ng-change="updateForm()" ng-show="updateForm()">
                                <option value="IF_curr_alpha">IF_curr_alpha</option>
                                <option value="IF_curr_exp">IF_curr_exp</option>
                                <option value="IF_cond_alpha">IF_cond_alpha</option>
                                <option value="IF_cond_exp">IF_cond_exp</option>
                                <option value="HH_cond_exp">HH_cond_exp</option>
                                <option value="EIF_cond_alpha_isfa_ista">EIF_cond_alpha_isfa_ista</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="celltype == 'IF_curr_alpha'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_cm">cm : </label>
                            <div class="col-sm-3">
                                <input id="param_cm" name="param_cm" type="number" min="0" step="1" placeholder="cm..." class="form-control input-md" ng-model="param_cm">
                            </div>
                            <div class="control-label col-sm-2">nF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_m">tau_m : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_m" name="param_tau_m" type="number" min="0" step="1" placeholder="tau_m..." class="form-control input-md" ng-model="param_tau_m">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_refrac">tau_refrac : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_refrac" name="param_tau_refrac" type="number" min="0" step="1" placeholder="tau_refrac..." class="form-control input-md" ng-model="param_tau_refrac">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Initials Values :</b></div>
                            <label class="control-label col-sm-2" for="v">v : </label>
                            <div class="col-sm-3">
                                <input id="v" name="v" type="number" min="0" step="1" placeholder="v..." class="form-control input-md" ng-model="v">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="isyn_exc">isyn_exc : </label>
                            <div class="col-sm-3">
                                <input id="isyn_exc" name="isyn_exc" type="number" min="0" step="1" placeholder="isyn_exc..." class="form-control input-md" ng-model="isyn_exc">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_rest">isyn_inh : </label>
                            <div class="col-sm-3">
                                <input id="isyn_inh" name="isyn_inh" type="number" min="0" step="1" placeholder="isyn_inh..." class="form-control input-md" ng-model="isyn_inh">
                            </div>
                        </div>
                    </div>


                    <!-- <div class="form-group col-sm-12" id="div_param_cm" ng-if="celltype == 'IF_curr_exp'">
                        <div class="control-label col-sm-2"></div>
                        <label class="control-label col-sm-2" for="param_cm">cm : </label>
                        <div class="col-sm-3">
                            <input id="param_cm" name="param_cm" type="number" min="0" step="1" placeholder="cm..." class="form-control input-md" ng-model="param_cm">
                        </div>
                        <div class="control-label col-sm-2">nF</div>
                    </div>
                    <div class="form-group col-sm-12" id="div_param_tau_m" ng-if="celltype == 'IF_cond_alpha'">
                        <div class="control-label col-sm-2"></div>
                        <label class="control-label col-sm-2" for="param_tau_m">tau_m : </label>
                        <div class="col-sm-3">
                            <input id="param_tau_m" name="param_tau_m" type="number" min="0" step="1" placeholder="tau_m..." class="form-control input-md" ng-model="param_tau_m">
                        </div>
                        <div class="control-label col-sm-2">mS</div>
                    </div>
                    <div class="form-group col-sm-12" id="div_init_v_rest" ng-if="celltype == 'IF_cond_exp'">
                        <div class="control-label col-sm-2"><b>Init Values</b></div>
                        <label class="control-label col-sm-2" for="init_v_rest">v_rest : </label>
                        <div class="col-sm-3">
                            <input id="init_v_rest" name="init_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="init_v_rest">
                        </div>
                        <div class="control-label col-sm-2">mF</div>
                    </div>
                    <div class="form-group col-sm-12" id="div_init_cm" ng-if="celltype == 'HH_cond_exp'">
                        <div class="control-label col-sm-2"></div>
                        <label class="control-label col-sm-2" for="init_cm">cm : </label>
                        <div class="col-sm-3">
                            <input id="init_cm" name="init_cm" type="number" min="0" step="1" placeholder="cm..." class="form-control input-md" ng-model="init_cm">
                        </div>
                        <div class="control-label col-sm-2">nF</div>
                    </div>
                    <div class="form-group col-sm-12" id="div_init_tau_m" ng-if="celltype == 'EIF_cond_alpha_isfa_ista'">
                        <div class="control-label col-sm-2"></div>
                        <label class="control-label col-sm-2" for="init_tau_m">tau_m : </label>
                        <div class="col-sm-3">
                            <input id="init_tau_m" name="init_tau_m" type="number" min="0" step="1" placeholder="tau_m..." class="form-control input-md" ng-model="init_tau_m">
                        </div>
                        <div class="control-label col-sm-2">mS</div>
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
  