    
<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-pop-neurons" class="form-horizontal col-sm-12" role="form">
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="name_value">Name : </label>
                        <div class="col-sm-10">
                            <input id="name_value" name="name_value" type="text" placeholder="Name..." class="form-control input-md" ng-model="name_value">
                        </div>
                    </div>
                        
                    <!-- Text input-->
                    <!-- <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="level">Level : </label>  
                        <div class="col-sm-10">
                            <input id="level" name="level" type="text" placeholder="level..." class="form-control input-md" ng-model="level">
                        </div>
                    </div> -->
                    
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="size">Size : </label>
                        <div class="col-sm-3">
                            <input id="size" name="size" type="number" step="0.1" placeholder="size" class="form-control input-md" ng-model="size">
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="celltype">Cell Type : </label>
                        <div class="col-sm-10">
                            <!-- <select id="celltype" name="celltype" class="form-control" ng-model="celltype"> -->
                            <select id="celltype" name="celltype" class="form-control" ng-model="celltype" ng-change="updateForm()" ng-show="updateForm()">
                                <option value="IF_curr_alpha">IF_curr_alpha</option>
                                <option value="IF_curr_exp">IF_curr_exp</option>
                                <option value="IF_cond_alpha">IF_cond_alpha</option>
                                <option value="IF_cond_exp">IF_cond_exp</option>
                                <option value="HH_cond_exp">HH_cond_exp</option>
                                <option value="EIF_cond_alpha_isfa_ista">EIF_cond_alpha_isfa_ista</option>
                                <option value="SpikeSourcePoisson">SpikeSourcePoisson</option>
                                <option value="SpikeSourceArray">SpikeSourceArray</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="celltype == 'IF_curr_alpha' || celltype == 'IF_curr_exp'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" step="0.1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_cm">cm : </label>
                            <div class="col-sm-3">
                                <input id="param_cm" name="param_cm" type="number" step="0.1" placeholder="cm..." class="form-control input-md" ng-model="param_cm">
                            </div>
                            <div class="control-label col-sm-2">nF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_m">tau_m : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_m" name="param_tau_m" type="number" step="0.1" placeholder="tau_m..." class="form-control input-md" ng-model="param_tau_m">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_refrac">tau_refrac : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_refrac" name="param_tau_refrac" type="number" step="0.1" placeholder="tau_refrac..." class="form-control input-md" ng-model="param_tau_refrac">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_E">tau_syn_E : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_E" name="param_tau_syn_E" type="number" step="0.1" placeholder="tau_syn_E..." class="form-control input-md" ng-model="param_tau_syn_E">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_I">tau_syn_I : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_I" name="param_tau_syn_I" type="number" step="0.1" placeholder="tau_syn_I..." class="form-control input-md" ng-model="param_tau_syn_I">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_i_offset">i_offset : </label>
                            <div class="col-sm-3">
                                <input id="param_i_offset" name="param_i_offset" type="number" step="0.1" placeholder="i_offset..." class="form-control input-md" ng-model="param_i_offset">
                            </div>
                            <div class="control-label col-sm-2">mA</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_reset">v_reset : </label>
                            <div class="col-sm-3">
                                <input id="param_v_reset" name="param_v_reset" type="number" step="0.1" placeholder="v_reset..." class="form-control input-md" ng-model="param_v_reset">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_thresh">v_thresh : </label>
                            <div class="col-sm-3">
                                <input id="param_v_thresh" name="param_v_thresh" type="number" step="0.1" placeholder="v_thresh..." class="form-control input-md" ng-model="param_v_thresh">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Initial Value :</b></div>
                            <label class="control-label col-sm-2" for="init_v">v : </label>
                            <div class="col-sm-3">
                                <input id="init_v" name="init_v" type="number" step="0.1" placeholder="v..." class="form-control input-md" ng-model="init_v">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <!-- <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_isyn_exc">isyn_exc : </label>
                            <div class="col-sm-3">
                                <input id="init_isyn_exc" name="init_isyn_exc" type="number" step="0.1" placeholder="isyn_exc..." class="form-control input-md" ng-model="init_isyn_exc">
                            </div>
                            <div class="control-label col-sm-2">nA</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_isyn_inh">isyn_inh : </label>
                            <div class="col-sm-3">
                                <input id="init_isyn_inh" name="init_isyn_inh" type="number" step="0.1" placeholder="isyn_inh..." class="form-control input-md" ng-model="init_isyn_inh">
                            </div>
                            <div class="control-label col-sm-2">nA</div>
                        </div> -->
                    </div>
                    <div ng-show="celltype == 'IF_cond_alpha' || celltype == 'IF_cond_exp'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" step="0.1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_cm">cm : </label>
                            <div class="col-sm-3">
                                <input id="param_cm" name="param_cm" type="number" step="0.1" placeholder="cm..." class="form-control input-md" ng-model="param_cm">
                            </div>
                            <div class="control-label col-sm-2">nF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_m">tau_m : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_m" name="param_tau_m" type="number" step="0.1" placeholder="tau_m..." class="form-control input-md" ng-model="param_tau_m">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_refrac">tau_refrac : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_refrac" name="param_tau_refrac" type="number" step="0.1" placeholder="tau_refrac..." class="form-control input-md" ng-model="param_tau_refrac">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_E">tau_syn_E : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_E" name="param_tau_syn_E" type="number" step="0.1" placeholder="tau_syn_E..." class="form-control input-md" ng-model="param_tau_syn_E">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_I">tau_syn_I : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_I" name="param_tau_syn_I" type="number" step="0.1" placeholder="tau_syn_I..." class="form-control input-md" ng-model="param_tau_syn_I">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_E">e_rev_E : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_E" name="param_e_rev_E" type="number" step="0.1" placeholder="e_rev_E..." class="form-control input-md" ng-model="param_e_rev_E">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_I">e_rev_I : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_I" name="param_e_rev_I" type="number" step="0.1" placeholder="e_rev_I..." class="form-control input-md" ng-model="param_e_rev_I">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_thresh">v_thresh : </label>
                            <div class="col-sm-3">
                                <input id="param_v_thresh" name="param_v_thresh" type="number" step="0.1" placeholder="v_thresh..." class="form-control input-md" ng-model="param_v_thresh">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_reset">v_reset : </label>
                            <div class="col-sm-3">
                                <input id="param_v_reset" name="param_v_reset" type="number" step="0.1" placeholder="v_reset..." class="form-control input-md" ng-model="param_v_reset">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_i_offset">i_offset : </label>
                            <div class="col-sm-3">
                                <input id="param_i_offset" name="param_i_offset" type="number" step="0.1" placeholder="i_offset..." class="form-control input-md" ng-model="param_i_offset">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Initial Value :</b></div>
                            <label class="control-label col-sm-2" for="init_v">v : </label>
                            <div class="col-sm-3">
                                <input id="init_v" name="init_v" type="number" step="0.1" placeholder="v..." class="form-control input-md" ng-model="init_v">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <!-- <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_gsyn_exc">gsyn_exc : </label>
                            <div class="col-sm-3">
                                <input id="init_gsyn_exc" name="init_gsyn_exc" type="number" step="0.1" placeholder="gsyn_exc..." class="form-control input-md" ng-model="init_gsyn_exc">
                            </div>
                            <div class="control-label col-sm-2">nA</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_gsyn_inh">gsyn_inh : </label>
                            <div class="col-sm-3">
                                <input id="init_gsyn_inh" name="init_gsyn_inh" type="number" step="0.1" placeholder="gsyn_inh..." class="form-control input-md" ng-model="init_gsyn_inh">
                            </div>
                            <div class="control-label col-sm-2">nA</div>
                        </div> -->
                    </div>
                    <div ng-show="celltype == 'HH_cond_exp'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="param_gbar_Na">gbar_Na : </label>
                            <div class="col-sm-3">
                                <input id="param_gbar_Na" name="param_gbar_Na" type="number" step="0.1" placeholder="gbar_Na..." class="form-control input-md" ng-model="param_gbar_Na">
                            </div>
                            <div class="control-label col-sm-2">uS</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_gbar_K">gbar_K : </label>
                            <div class="col-sm-3">
                                <input id="param_gbar_K" name="param_gbar_K" type="number" step="0.1" placeholder="gbar_K..." class="form-control input-md" ng-model="param_gbar_K">
                            </div>
                            <div class="control-label col-sm-2">uS</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_g_leak">g_leak : </label>
                            <div class="col-sm-3">
                                <input id="param_g_leak" name="param_g_leak" type="number" step="0.1" placeholder="g_leak..." class="form-control input-md" ng-model="param_g_leak">
                            </div>
                            <div class="control-label col-sm-2">uS</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_cm">cm : </label>
                            <div class="col-sm-3">
                                <input id="param_cm" name="param_cm" type="number" step="0.1" placeholder="cm..." class="form-control input-md" ng-model="param_cm">
                            </div>
                            <div class="control-label col-sm-2">nF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_offset">v_offset : </label>
                            <div class="col-sm-3">
                                <input id="param_v_offset" name="param_v_offset" type="number" step="0.1" placeholder="v_offset..." class="form-control input-md" ng-model="param_v_offset">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_Na">e_rev_Na : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_Na" name="param_e_rev_Na" type="number" step="0.1" placeholder="e_rev_Na..." class="form-control input-md" ng-model="param_e_rev_Na">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_K">e_rev_K : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_K" name="param_e_rev_K" type="number" step="0.1" placeholder="e_rev_K..." class="form-control input-md" ng-model="param_e_rev_K">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_leak">e_rev_leak : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_leak" name="param_e_rev_leak" type="number" step="0.1" placeholder="e_rev_leak..." class="form-control input-md" ng-model="param_e_rev_leak">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_E">e_rev_E : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_E" name="param_e_rev_E" type="number" step="0.1" placeholder="e_rev_E..." class="form-control input-md" ng-model="param_e_rev_E">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_I">e_rev_I : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_I" name="param_e_rev_I" type="number" step="0.1" placeholder="e_rev_I..." class="form-control input-md" ng-model="param_e_rev_I">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_E">tau_syn_E : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_E" name="param_tau_syn_E" type="number" step="0.1" placeholder="tau_syn_E..." class="form-control input-md" ng-model="param_tau_syn_E">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_I">tau_syn_I : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_I" name="param_tau_syn_I" type="number" step="0.1" placeholder="tau_syn_I..." class="form-control input-md" ng-model="param_tau_syn_I">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_i_offset">i_offset : </label>
                            <div class="col-sm-3">
                                <input id="param_i_offset" name="param_i_offset" type="number" step="0.1" placeholder="i_offset..." class="form-control input-md" ng-model="param_i_offset">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Initial Value :</b></div>
                            <label class="control-label col-sm-2" for="init_v">v : </label>
                            <div class="col-sm-3">
                                <input id="init_v" name="init_v" type="number" step="0.1" placeholder="v..." class="form-control input-md" ng-model="init_v">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <!-- <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_gsyn_exc">gsyn_exc : </label>
                            <div class="col-sm-3">
                                <input id="init_gsyn_exc" name="init_gsyn_exc" type="number" step="0.1" placeholder="isyn_exc..." class="form-control input-md" ng-model="init_gsyn_exc">
                            </div>
                            <div class="control-label col-sm-2">uS</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_gsyn_inh">gsyn_inh : </label>
                            <div class="col-sm-3">
                                <input id="init_gsyn_inh" name="init_gsyn_inh" type="number" step="0.1" placeholder="isyn_inh..." class="form-control input-md" ng-model="init_gsyn_inh">
                            </div>
                            <div class="control-label col-sm-2">uS</div>
                        </div> -->
                    </div>
                    <div ng-show="celltype == 'EIF_cond_alpha_isfa_ista'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters : </b></div>
                            <label class="control-label col-sm-2" for="param_cm">cm : </label>
                            <div class="col-sm-3">
                                <input id="param_cm" name="param_cm" type="number" step="0.1" placeholder="cm..." class="form-control input-md" ng-model="param_cm">
                            </div>
                            <div class="control-label col-sm-2">nF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_refrac">tau_refrac : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_refrac" name="param_tau_refrac" type="number" step="0.1" placeholder="tau_refrac..." class="form-control input-md" ng-model="param_tau_refrac">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_spike">v_spike : </label>
                            <div class="col-sm-3">
                                <input id="param_v_spike" name="param_v_spike" type="number" step="0.1" placeholder="v_spike..." class="form-control input-md" ng-model="param_v_spike">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_reset">v_reset : </label>
                            <div class="col-sm-3">
                                <input id="param_v_reset" name="param_v_reset" type="number" step="0.1" placeholder="v_reset..." class="form-control input-md" ng-model="param_v_reset">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" step="0.1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_m">tau_m : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_m" name="param_tau_m" type="number" step="0.1" placeholder="tau_m..." class="form-control input-md" ng-model="param_tau_m">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_i_offset">i_offset : </label>
                            <div class="col-sm-3">
                                <input id="param_i_offset" name="param_i_offset" type="number" step="0.1" placeholder="i_offset..." class="form-control input-md" ng-model="param_i_offset">
                            </div>
                            <div class="control-label col-sm-2">mA</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_a">a : </label>
                            <div class="col-sm-3">
                                <input id="param_a" name="param_a" type="number" step="0.1" placeholder="a..." class="form-control input-md" ng-model="param_a">
                            </div>
                            <div class="control-label col-sm-2">nS</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_b">b : </label>
                            <div class="col-sm-3">
                                <input id="param_b" name="param_b" type="number" step="0.1" placeholder="b..." class="form-control input-md" ng-model="param_b">
                            </div>
                            <div class="control-label col-sm-2">nA</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_delta_T">delta_T : </label>
                            <div class="col-sm-3">
                                <input id="param_delta_T" name="param_delta_T" type="number" step="0.1" placeholder="delta_T..." class="form-control input-md" ng-model="param_delta_T">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_w">tau_w : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_w" name="param_tau_w" type="number" step="0.1" placeholder="tau_w..." class="form-control input-md" ng-model="param_tau_w">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_thresh">v_thresh : </label>
                            <div class="col-sm-3">
                                <input id="param_v_thresh" name="param_v_thresh" type="number" step="0.1" placeholder="v_thresh..." class="form-control input-md" ng-model="param_v_thresh">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_E">e_rev_E : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_E" name="param_e_rev_E" type="number" step="0.1" placeholder="e_rev_E..." class="form-control input-md" ng-model="param_e_rev_E">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_E">tau_syn_E : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_E" name="param_tau_syn_E" type="number" step="0.1" placeholder="tau_syn_E..." class="form-control input-md" ng-model="param_tau_syn_E">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_e_rev_I">e_rev_I : </label>
                            <div class="col-sm-3">
                                <input id="param_e_rev_I" name="param_e_rev_I" type="number" step="0.1" placeholder="e_rev_I..." class="form-control input-md" ng-model="param_e_rev_I">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_I">tau_syn_I : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_I" name="param_tau_syn_I" type="number" step="0.1" placeholder="tau_syn_I..." class="form-control input-md" ng-model="param_tau_syn_I">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Initial Value :</b></div>
                            <label class="control-label col-sm-2" for="init_v">v : </label>
                            <div class="col-sm-3">
                                <input id="init_v" name="init_v" type="number" step="0.1" placeholder="v..." class="form-control input-md" ng-model="init_v">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_w">w : </label>
                            <div class="col-sm-3">
                                <input id="init_w" name="init_w" type="number" step="0.1" placeholder="v..." class="form-control input-md" ng-model="init_w">
                            </div>
                            <div class="control-label col-sm-2">nA</div>
                        </div>
                        <!-- <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_gsyn_exc">gsyn_exc : </label>
                            <div class="col-sm-3">
                                <input id="init_gsyn_exc" name="init_gsyn_exc" type="number" step="0.1" placeholder="isyn_exc..." class="form-control input-md" ng-model="init_gsyn_exc">
                            </div>
                            <div class="control-label col-sm-2">uS</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_gsyn_inh">gsyn_inh : </label>
                            <div class="col-sm-3">
                                <input id="init_gsyn_inh" name="init_gsyn_inh" type="number" step="0.1" placeholder="isyn_inh..." class="form-control input-md" ng-model="init_gsyn_inh">
                            </div>
                            <div class="control-label col-sm-2">uS</div>
                        </div> -->
                    </div>

                    <div class="form-group col-sm-12" ng-show="celltype == 'SpikeSourcePoisson'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters : </b></div>
                            <label class="control-label col-sm-2" for="param_rate">rate : </label>
                            <div class="col-sm-3">
                                <input id="param_rate" name="param_rate" type="number" step="0.1" placeholder="rate..." class="form-control input-md" ng-model="param_rate">
                            </div>
                            <div class="control-label col-sm-2">Hz</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_start">start : </label>
                            <div class="col-sm-3">
                                <input id="param_start" name="param_start" type="number" step="0.1" placeholder="start..." class="form-control input-md" ng-model="param_start">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_duration">Duration : </label>
                            <div class="col-sm-3">
                                <input id="param_duration" name="param_duration" type="number" step="0.1" placeholder="duration..." class="form-control input-md" ng-model="param_duration">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="celltype == 'SpikeSourceArray'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="param_spike_times">spike_times : </label>
                            <div class="col-sm-3">
                                <input id="param_spike_times" name="param_spike_times" type="number" step="0.1" placeholder="spike_times..." class="form-control input-md" ng-model="param_spike_times">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Recording :</b></div>
                            <label class="control-label col-sm-2" for="Recording_spikes">spikes : </label>
                            <div class="col-sm-3">
                                <input id="Recording_spikes" name="Recording_spikes" type="checkbox" class="form-check-input" ng-model="Recording_spikes">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="Recording_v">v : </label>
                            <div class="col-sm-3">
                                <input id="Recording_v" name="Recording_v" type="checkbox" class="form-check-input" ng-model="Recording_v">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Simulation :</b></div>
                            <label class="control-label col-sm-2" for="Simulation_time">Simulation time : </label>
                            <div class="col-sm-3">
                                <input id="Simulation_time" name="Simulation_time" type="number" step="0.1" placeholder="Simulation time..." class="form-control input-md" ng-model="Simulation_time">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="Simulation_name">Simulation name : </label>
                            <div class="col-sm-3">
                                <input id="Simulation_name" name="Simulation_name" type="text" placeholder="Simulation name..." class="form-control input-md" ng-model="Simulation_name">
                            </div>
                            <div class="control-label col-sm-2">&nbsp;</div>
                        </div>
                    </div>
                </form>
                <span style="color:red;">{{msgAlert}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
  