<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-job-submission" class="form-horizontal col-sm-12" role="form">
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="platform" style="text-align:left!important;">Hardware Platform : </label>
                        <div class="col-sm-10">
                            <select id="hardware_platform" name="hardware_platform" class="form-control" ng-model="hardware_platform">
                                <option label="BrainScaleS" value="BrainScaleS">BrainScaleS</option>  
                                <option label="SpiNNaker" value="SpiNNaker">SpiNNaker</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Simulation :</b></div>
                            <label class="control-label col-sm-2" for="Simulation_time">Simulation time : </label>
                            <div class="col-sm-3">
                                <input id="Simulation_time" name="Simulation_time" type="number" step="0.1" placeholder="Simulation time..." class="form-control input-md" ng-model="Simulation_time">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="Simulation_name">Simulation name : </label>
                            <div class="col-sm-3">
                                <input id="Simulation_name" name="Simulation_name" type="text" placeholder="Simulation name..." class="form-control input-md" ng-model="Simulation_name">
                            </div>
                            <div class="control-label col-sm-2">&nbsp;</div>
                        </div>
                    </div>
                </form>    
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>