<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-pop-neurons" class="form-horizontal col-sm-12" role="form">
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="name_value">Name : </label>
                        <div class="col-sm-10">
                            <input id="name_value" name="name_value" type="text" placeholder="Name..." class="form-control input-md" ng-model="name_value">
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="size">Size : </label>
                        <div class="col-sm-3">
                            <input id="size" name="size" type="number" min="0" step="1" placeholder="size" class="form-control input-md" ng-model="size">
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="synapse_type">Synapse type : </label>
                        <div class="col-sm-10">
                            <select id="synapse_type" name="synapse_type" class="form-control" ng-model="synapse_type" ng-change="updateForm()">
                                <option value="static">Static</option>
                                <option value="receptor_type">Receptor Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="synapse_type == 'static'">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-10">
                            <p>synapse static</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="synapse_type == 'receptor_type'">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-10">
                            <p>receptor type</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="connectors_type">Connectors type : </label>
                        <div class="col-sm-10">
                            <select id="connectors_type" name="connectors_type" class="form-control" ng-model="connectors_type" ng-change="updateForm()">
                                <option value="AllToAll">AllToAll</option>
                                <option value="OneToOne">OneToOne</option>
                                <option value="FromFile">FromFile</option>
                                <option value="FixedNumberPre">FixedNumberPre</option>
                                <option value="FixedNumberPost">FixedNumberPost</option>
                                <option value="FixedTotalNumber">FixedTotalNumber</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
  