<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-pop-neurons" class="form-horizontal col-sm-12" role="form">
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="name_value">Name : </label>
                        <div class="col-sm-10">
                            <input id="name_value" name="name_value" type="text" placeholder="Name..." class="form-control input-md" ng-model="name_value">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="synapse_type">Synapse type : </label>
                        <div class="col-sm-10">
                            <select id="synapse_type" name="synapse_type" class="form-control" ng-model="synapse_type">
                                <option value="static">Static</option>
                                <option value="TsodyksMarkram">Short-term plasticity mechanisms</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-12">
                            <span ng-show="param_synaptic_weight_dist == '0'">
                                <div class="control-label col-sm-2"><b>Parameters :</b></div>
                                <label class="control-label col-sm-2" for="synaptic_weight">weight : </label>
                                    <div class="col-sm-3">
                                        <input id="synaptic_weight" name="synaptic_weight" type="number" step="0.01" placeholder="weight..." class="form-control input-md" ng-model="synaptic_weight">
                                    </div>
                                <div class="control-label col-sm-2"></div>
                            </span>
                            <span ng-show="param_synaptic_weight_dist == '1'">
                                <label class="control-label col-sm-2" for="param_synaptic_weight_distribution">weight : </label>
                                <div class="control-label col-sm-2">
                                    <select id="param_synaptic_weight_distribution" name="param_synaptic_weight_distribution" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <option value="binomial" selected="selected">binomial</option>
                                        <option value="gamma">gamma</option>
                                        <option value="exponential">exponential</option>
                                        <option value="lognormal">lognormal</option>
                                        <option value="normal">normal</option>
                                        <option value="normal_clipped">normal_clipped</option>
                                        <option value="normal_clipped_to_boundary">normal_clipped_to_boundary</option>
                                        <option value="poisson">poisson</option>
                                        <option value="uniform">uniform</option>
                                        <option value="uniform_int">uniform_int</option>
                                        <option value="vonmises">vonmises</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input id="param_synaptic_weight_p1" name="param_synaptic_weight_p1" type="number" step="0.1" placeholder="p1" class="form-control input-md" ng-model="param_synaptic_weight_p1">
                                </div>
                                <div class="col-sm-2">
                                    <input id="param_synaptic_weight_p2" name="param_synaptic_weight_p2" type="number" step="0.1" placeholder="p2" class="form-control input-md" ng-model="param_synaptic_weight_p2">
                                </div>
                                <div class="control-label col-sm-1"></div>
                            </span>
                            <span ng-show="param_synaptic_weight_dist == '2'">
                                <label class="control-label col-sm-2" for="param_synaptic_weight_fx">weight : </label>
                                <div class="col-sm-6">
                                    <input id="param_synaptic_weight_fx" name="param_synaptic_weight_fx" type="text" placeholder="f(x)..." class="form-control input-md" ng-model="param_synaptic_weight_fx">
                                </div>
                                <div class="control-label col-sm-1"></div>
                            </span>
                            <span ng-show="param_synaptic_weight_dist == '3'">
                                <div class="control-label col-sm-2">
                                    <b>Matrix</b>
                                </div>
                            </span>
                            <div class="btn-group btn-group-sm pull-right">
                                <label class="btn btn-default fab fa-neos param_synaptic_weight_dist_0 active">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_weight_dist" ng-change="updateDist('param_synaptic_weight', 0)" value="0" checked>
                                </label>
                                <label class="btn btn-default fas fa-signal param_synaptic_weight_dist_1">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_weight_dist" ng-change="updateDist('param_synaptic_weight', 1)" value="1">
                                </label>
                                <label class="btn btn-default fas fa-square-root-alt param_synaptic_weight_dist_2">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_weight_dist" ng-change="updateDist('param_synaptic_weight', 2)" value="2">
                                </label>
                                <label class="btn btn-default fas fa-th param_synaptic_weight_dist_3">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_weight_dist" ng-change="updateDist('param_synaptic_weight', 3)" value="3">
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <span ng-show="param_synaptic_delay_dist == '0'">
                                <div class="control-label col-sm-2"></div>
                                <label class="control-label col-sm-2" for="synaptic_delay">delay : </label>
                                    <div class="col-sm-3">
                                        <input id="synaptic_delay" name="synaptic_delay" type="number" step="0.01" placeholder="delay..." class="form-control input-md" ng-model="synaptic_delay">
                                    </div>
                                <div class="control-label col-sm-2">ms</div>
                            </span>
                            <span ng-show="param_synaptic_delay_dist == '1'">
                                <label class="control-label col-sm-2" for="param_synaptic_delay_distribution">delay : </label>
                                <div class="control-label col-sm-2">
                                    <select id="param_synaptic_delay_distribution" name="param_synaptic_delay_distribution" ng-model="param_synaptic_delay_distribution" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <option value="binomial" selected="selected">binomial</option>
                                        <option value="gamma">gamma</option>
                                        <option value="exponential">exponential</option>
                                        <option value="lognormal">lognormal</option>
                                        <option value="normal">normal</option>
                                        <option value="normal_clipped">normal_clipped</option>
                                        <option value="normal_clipped_to_boundary">normal_clipped_to_boundary</option>
                                        <option value="poisson">poisson</option>
                                        <option value="uniform">uniform</option>
                                        <option value="uniform_int">uniform_int</option>
                                        <option value="vonmises">vonmises</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input id="param_synaptic_delay_p1" name="param_synaptic_delay_p1" type="number" step="0.1" placeholder="p1" class="form-control input-md" ng-model="param_synaptic_delay_p1">
                                </div>
                                <div class="col-sm-2">
                                    <input id="param_synaptic_delay_p2" name="param_synaptic_delay_p2" type="number" step="0.1" placeholder="p2" class="form-control input-md" ng-model="param_synaptic_delay_p2">
                                </div>
                                <div class="control-label col-sm-1"></div>
                            </span>
                            <span ng-show="param_synaptic_delay_dist == '2'">
                                <label class="control-label col-sm-2" for="param_synaptic_delay_fx">delay : </label>
                                <div class="col-sm-6">
                                    <input id="param_synaptic_delay_fx" name="param_synaptic_delay_fx" type="text" placeholder="f(x)..." class="form-control input-md" ng-model="param_synaptic_delay_fx">
                                </div>
                                <div class="control-label col-sm-1"></div>
                            </span>
                            <span ng-show="param_synaptic_delay_dist == '3'">
                                <div class="control-label col-sm-2">
                                    <b>Matrix</b>
                                </div>
                            </span>
                            <div class="btn-group btn-group-sm pull-right">
                                <label class="btn btn-default fab fa-neos param_synaptic_delay_dist_0 active">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_delay_dist" ng-change="updateDist('param_synaptic_delay', 0)" value="0" checked>
                                </label>
                                <label class="btn btn-default fas fa-signal param_synaptic_delay_dist_1">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_delay_dist" ng-change="updateDist('param_synaptic_delay', 1)" value="1">
                                </label>
                                <label class="btn btn-default fas fa-square-root-alt param_synaptic_delay_dist_2">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_delay_dist" ng-change="updateDist('param_synaptic_delay', 2)" value="2">
                                </label>
                                <label class="btn btn-default fas fa-th param_synaptic_delay_dist_3">
                                    <input class="hide_radio" type="radio" ng-model="param_synaptic_delay_dist" ng-change="updateDist('param_synaptic_delay', 3)" value="3">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="synapse_type == 'TsodyksMarkram'">
                        <div class="form-group col-sm-12">
                            <span ng-show="TsodyksMarkram_U_dist == '0'">
                                <div class="control-label col-sm-2"></div>
                                <label class="control-label col-sm-2" for="TsodyksMarkram_U">U : </label>
                                    <div class="col-sm-3">
                                        <input id="TsodyksMarkram_U" name="TsodyksMarkram_U" type="number" step="0.1" placeholder="U..." class="form-control input-md" ng-model="TsodyksMarkram_U">
                                    </div>
                                <div class="control-label col-sm-2"></div>
                            </span>
                            <span ng-show="TsodyksMarkram_U_dist == '1'">
                                <label class="control-label col-sm-2" for="TsodyksMarkram_U_distribution">U : </label>
                                <div class="control-label col-sm-2">
                                    <select id="TsodyksMarkram_U_distribution" name="TsodyksMarkram_U_distribution" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <option value="binomial" selected="selected">binomial</option>
                                        <option value="gamma">gamma</option>
                                        <option value="exponential">exponential</option>
                                        <option value="lognormal">lognormal</option>
                                        <option value="normal">normal</option>
                                        <option value="normal_clipped">normal_clipped</option>
                                        <option value="normal_clipped_to_boundary">normal_clipped_to_boundary</option>
                                        <option value="poisson">poisson</option>
                                        <option value="uniform">uniform</option>
                                        <option value="uniform_int">uniform_int</option>
                                        <option value="vonmises">vonmises</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input id="TsodyksMarkram_U_p1" name="TsodyksMarkram_U_p1" type="number" step="0.1" placeholder="p1" class="form-control input-md" ng-model="TsodyksMarkram_U_p1">
                                </div>
                                <div class="col-sm-2">
                                    <input id="TsodyksMarkram_U_p2" name="TsodyksMarkram_U_p2" type="number" step="0.1" placeholder="p2" class="form-control input-md" ng-model="TsodyksMarkram_U_p2">
                                </div>
                            </span>
                            <span ng-show="TsodyksMarkram_U_dist == '2'">
                                <label class="control-label col-sm-2" for="TsodyksMarkram_U_fx">U : </label>
                                <div class="col-sm-6">
                                    <input id="TsodyksMarkram_U_fx" name="TsodyksMarkram_U_fx" type="text" placeholder="f(x)..." class="form-control input-md" ng-model="TsodyksMarkram_U_fx">
                                </div>
                                <div class="control-label col-sm-1"></div>
                            </span>
                            <span ng-show="TsodyksMarkram_U_dist == '3'">
                                <div class="control-label col-sm-2">
                                    <b>Matrix</b>
                                </div>
                            </span>
                            <div class="btn-group btn-group-sm pull-right">
                                <label class="btn btn-default fab fa-neos TsodyksMarkram_U_dist_0 active">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_U_dist" ng-change="updateDist('TsodyksMarkram_U', 0)" value="0" checked>
                                </label>
                                <label class="btn btn-default fas fa-signal TsodyksMarkram_U_dist_1">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_U_dist" ng-change="updateDist('TsodyksMarkram_U', 1)" value="1">
                                </label>
                                <label class="btn btn-default fas fa-square-root-alt TsodyksMarkram_U_dist_2">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_U_dist" ng-change="updateDist('TsodyksMarkram_U', 2)" value="2">
                                </label>
                                <label class="btn btn-default fas fa-th TsodyksMarkram_U_dist_3">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_U_dist" ng-change="updateDist('TsodyksMarkram_U', 3)" value="3">
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <span ng-show="TsodyksMarkram_tau_rec_dist == '0'">
                                <div class="control-label col-sm-2"></div>
                                <label class="control-label col-sm-2" for="TsodyksMarkram_tau_rec">tau_rec : </label>
                                <div class="col-sm-3">
                                    <input id="TsodyksMarkram_tau_rec" name="TsodyksMarkram_tau_rec" type="number" step="0.1" placeholder="tau_rec..." class="form-control input-md" ng-model="TsodyksMarkram_tau_rec">
                                </div>
                                <div class="control-label col-sm-2">ms</div>
                            </span>
                            <span ng-show="TsodyksMarkram_tau_rec_dist == '1'">
                                <label class="control-label col-sm-2" for="TsodyksMarkram_tau_rec_distribution">tau_rec : </label>
                                <div class="control-label col-sm-2">
                                    <select id="TsodyksMarkram_tau_rec_distribution" name="TsodyksMarkram_tau_rec_distribution" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <option value="binomial" selected="selected">binomial</option>
                                        <option value="gamma">gamma</option>
                                        <option value="exponential">exponential</option>
                                        <option value="lognormal">lognormal</option>
                                        <option value="normal">normal</option>
                                        <option value="normal_clipped">normal_clipped</option>
                                        <option value="normal_clipped_to_boundary">normal_clipped_to_boundary</option>
                                        <option value="poisson">poisson</option>
                                        <option value="uniform">uniform</option>
                                        <option value="uniform_int">uniform_int</option>
                                        <option value="vonmises">vonmises</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input id="TsodyksMarkram_tau_rec_p1" name="TsodyksMarkram_tau_rec_p1" type="number" step="0.1" placeholder="p1" class="form-control input-md" ng-model="TsodyksMarkram_tau_rec_p1">
                                </div>
                                <div class="col-sm-2">
                                    <input id="TsodyksMarkram_tau_rec_p2" name="TsodyksMarkram_tau_rec_p2" type="number" step="0.1" placeholder="p2" class="form-control input-md" ng-model="TsodyksMarkram_tau_rec_p2">
                                </div>
                                <div class="control-label col-sm-1">ms</div>
                            </span>
                            <span ng-show="TsodyksMarkram_tau_rec_dist == '2'">
                                <label class="control-label col-sm-2" for="TsodyksMarkram_tau_rec_fx">tau_rec : </label>
                                <div class="col-sm-6">
                                    <input id="TsodyksMarkram_tau_rec_fx" name="TsodyksMarkram_tau_rec_fx" type="text" placeholder="f(x)..." class="form-control input-md" ng-model="TsodyksMarkram_tau_rec_fx">
                                </div>
                                <div class="control-label col-sm-1">ms</div>
                            </span>
                            <span ng-show="TsodyksMarkram_tau_rec_dist == '3'">
                                <div class="control-label col-sm-2">
                                    <b>Matrix</b>
                                </div>
                            </span>
                            <div class="btn-group btn-group-sm pull-right">
                                <label class="btn btn-default fab fa-neos TsodyksMarkram_tau_rec_dist_0 active">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_rec_dist" ng-change="updateDist('TsodyksMarkram_tau_rec', 0)" value="0" checked>
                                </label>
                                <label class="btn btn-default fas fa-signal TsodyksMarkram_tau_rec_dist_1">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_rec_dist" ng-change="updateDist('TsodyksMarkram_tau_rec', 1)" value="1">
                                </label>
                                <label class="btn btn-default fas fa-square-root-alt TsodyksMarkram_tau_rec_dist_2">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_rec_dist" ng-change="updateDist('TsodyksMarkram_tau_rec', 2)" value="2">
                                </label>
                                <label class="btn btn-default fas fa-th TsodyksMarkram_tau_rec_dist_3">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_rec_dist" ng-change="updateDist('TsodyksMarkram_tau_rec', 3)" value="3">
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <span ng-show="TsodyksMarkram_tau_facil_dist == '0'">
                                <div class="control-label col-sm-2"></div>
                                <label class="control-label col-sm-2" for="TsodyksMarkram_tau_facil">tau_facil : </label>
                                <div class="col-sm-3">
                                    <input id="TsodyksMarkram_tau_facil" name="TsodyksMarkram_tau_facil" type="number" step="0.1" placeholder="tau_facil..." class="form-control input-md" ng-model="TsodyksMarkram_tau_facil">
                                </div>
                                <div class="control-label col-sm-2">ms</div>
                            </span>
                            <span ng-show="TsodyksMarkram_tau_facil_dist == '1'">
                            <label class="control-label col-sm-2" for="TsodyksMarkram_tau_facil_distribution">tau_facil : </label>
                                <div class="control-label col-sm-2">
                                    <select id="TsodyksMarkram_tau_facil_distribution" name="TsodyksMarkram_tau_facil_distribution" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <option value="binomial" selected="selected">binomial</option>
                                        <option value="gamma">gamma</option>
                                        <option value="exponential">exponential</option>
                                        <option value="lognormal">lognormal</option>
                                        <option value="normal">normal</option>
                                        <option value="normal_clipped">normal_clipped</option>
                                        <option value="normal_clipped_to_boundary">normal_clipped_to_boundary</option>
                                        <option value="poisson">poisson</option>
                                        <option value="uniform">uniform</option>
                                        <option value="uniform_int">uniform_int</option>
                                        <option value="vonmises">vonmises</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input id="TsodyksMarkram_tau_facil_p1" name="TsodyksMarkram_tau_facil_p1" type="number" step="0.1" placeholder="p1" class="form-control input-md" ng-model="TsodyksMarkram_tau_facil_p1">
                                </div>
                                <div class="col-sm-2">
                                    <input id="TsodyksMarkram_tau_facil_p2" name="TsodyksMarkram_tau_facil_p2" type="number" step="0.1" placeholder="p2" class="form-control input-md" ng-model="TsodyksMarkram_tau_facil_p2">
                                </div>
                                <div class="control-label col-sm-1">ms</div>
                            </span>
                            <span ng-show="TsodyksMarkram_tau_facil_dist == '2'">
                                <label class="control-label col-sm-2" for="TsodyksMarkram_tau_facil_fx">tau_facil : </label>
                                <div class="col-sm-6">
                                    <input id="TsodyksMarkram_tau_facil_fx" name="TsodyksMarkram_tau_facil_fx" type="text" placeholder="f(x)..." class="form-control input-md" ng-model="TsodyksMarkram_tau_facil_fx">
                                </div>
                                <div class="control-label col-sm-1">ms</div>
                            </span>
                            <span ng-show="TsodyksMarkram_tau_facil_dist == '3'">
                                <div class="control-label col-sm-2">
                                    <b>Matrix</b>
                                </div>
                            </span>
                            <div class="btn-group btn-group-sm pull-right">
                                <label class="btn btn-default fab fa-neos TsodyksMarkram_tau_facil_dist_0 active">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_facil_dist" ng-change="updateDist('TsodyksMarkram_tau_facil', 0)" value="0" checked>
                                </label>
                                <label class="btn btn-default fas fa-signal TsodyksMarkram_tau_facil_dist_1">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_facil_dist" ng-change="updateDist('TsodyksMarkram_tau_facil', 1)" value="1">
                                </label>
                                <label class="btn btn-default fas fa-square-root-alt TsodyksMarkram_tau_facil_dist_2">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_facil_dist" ng-change="updateDist('TsodyksMarkram_tau_facil', 2)" value="2">
                                </label>
                                <label class="btn btn-default fas fa-th TsodyksMarkram_tau_facil_dist_3">
                                    <input class="hide_radio" type="radio" ng-model="TsodyksMarkram_tau_facil_dist" ng-change="updateDist('TsodyksMarkram_tau_facil', 3)" value="3">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="receptor_type">Receptor type : </label>
                        <div class="col-sm-10">
                            <select id="receptor_type" name="receptor_type" class="form-control" ng-model="receptor_type">
                                <option value="excitatory">Excitatory</option>
                                <option value="inhibitory">Inhibitory</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="connectors_type">Connectors type : </label>
                        <div class="col-sm-10">
                            <select id="connectors_type" name="connectors_type" class="form-control" ng-model="connectors_type">
                                <option value="AllToAll">AllToAll</option>
                                <option value="OneToOne">OneToOne</option>
                                <option value="FixedProbability">FixedProbability</option>
                                <!-- <option value="FromFile">FromFile</option> -->
                                <option value="FixedNumberPre">FixedNumberPre</option>
                                <option value="FixedNumberPost">FixedNumberPost</option>
                                <option value="FixedTotalNumber">FixedTotalNumber</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'AllToAll'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="AllToAll_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="AllToAll_allow_self_connections" name="AllToAll_allow_self_connections" type="checkbox" class="form-check-input" ng-model="AllToAll_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedProbability'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedProbability_p_connect">p_connect : </label>
                            <div class="col-sm-3">
                                <input id="FixedProbability_p_connect" name="FixedProbability_p_connect" type="number" min="0" step="0.001" placeholder="p_connect..." class="form-control input-md" ng-model="FixedProbability_p_connect">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedProbability_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedProbability_allow_self_connections" name="FixedProbability_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedProbability_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedNumberPre'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedNumberPre_n">n : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPre_n" name="FixedNumberPre_n" type="number" step="0.1" placeholder="number" class="form-control input-md" ng-model="FixedNumberPre_n">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPre_with_replacement">with replacement : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPre_with_replacement" name="FixedNumberPre_with_replacement" type="checkbox" class="form-check-input" ng-model="FixedNumberPre_with_replacement">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPre_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPre_allow_self_connections" name="FixedNumberPre_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedNumberPre_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedNumberPost'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedNumberPost_n">n : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPost_n" name="FixedNumberPost_n" type="number" step="0.1" placeholder="number" class="form-control input-md" ng-model="FixedNumberPost_n">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPost_with_replacement">with replacement : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPost_with_replacement" name="FixedNumberPost_with_replacement" type="checkbox" class="form-check-input" ng-model="FixedNumberPost_with_replacement">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPost_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPost_allow_self_connections" name="FixedNumberPost_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedNumberPost_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedTotalNumber'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedTotalNumber_n">n : </label>
                            <div class="col-sm-3">
                                <input id="FixedTotalNumber_n" name="FixedTotalNumber_n" type="number" step="0.1" placeholder="number" class="form-control input-md" ng-model="FixedTotalNumber_n">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedTotalNumber_with_replacement">with replacement : </label>
                            <div class="col-sm-3">
                                <input id="FixedTotalNumber_with_replacement" name="FixedTotalNumber_with_replacement" type="checkbox" class="form-check-input" ng-model="FixedTotalNumber_with_replacement">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedTotalNumber_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedTotalNumber_allow_self_connections" name="FixedTotalNumber_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedTotalNumber_allow_self_connections">
                            </div>
                        </div>
                    </div>
                </form>
                <span style="color:red;">{{msgAlert}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
  