<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-pop-neurons" class="form-horizontal col-sm-12" role="form">
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="name_value">Name : </label>
                        <div class="col-sm-10">
                            <input id="name_value" name="name_value" type="text" placeholder="Name..." class="form-control input-md" ng-model="name_value">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="synapse_type">Synapse type : </label>
                        <div class="col-sm-10">
                            <select id="synapse_type" name="synapse_type" class="form-control" ng-model="synapse_type">
                                <option value="static">Static</option>
                                <option value="TsodyksMarkram">Short-term plasticity mechanisms</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="synaptic_weight">weight : </label>
                                <div class="col-sm-3">
                                    <input id="synaptic_weight" name="synaptic_weight" type="number" step="0.1" placeholder="weight..." class="form-control input-md" ng-model="synaptic_weight">
                                </div>
                            <div class="control-label col-sm-2"></div>
                        </div>
                        <div class="form-group col-sm-12">
                                <div class="control-label col-sm-2"></div>
                                <label class="control-label col-sm-2" for="synaptic_delay">delay : </label>
                                    <div class="col-sm-3">
                                        <input id="synaptic_delay" name="synaptic_delay" type="number" step="0.1" placeholder="delay..." class="form-control input-md" ng-model="synaptic_delay">
                                    </div>
                                <div class="control-label col-sm-2">ms</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="synapse_type == 'TsodyksMarkram'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="TsodyksMarkram_U">U : </label>
                                <div class="col-sm-3">
                                    <input id="TsodyksMarkram_U" name="TsodyksMarkram_U" type="number" step="0.1" placeholder="U..." class="form-control input-md" ng-model="TsodyksMarkram_U">
                                </div>
                            <div class="control-label col-sm-2"></div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="TsodyksMarkram_tau_rec">tau_rec : </label>
                            <div class="col-sm-3">
                                <input id="TsodyksMarkram_tau_rec" name="TsodyksMarkram_tau_rec" type="number" step="0.1" placeholder="tau_rec..." class="form-control input-md" ng-model="TsodyksMarkram_tau_rec">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="TsodyksMarkram_tau_facil">tau_facil : </label>
                            <div class="col-sm-3">
                                <input id="TsodyksMarkram_tau_facil" name="TsodyksMarkram_tau_facil" type="number" step="0.1" placeholder="tau_facil..." class="form-control input-md" ng-model="TsodyksMarkram_tau_facil">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="receptor_type">Receptor type : </label>
                        <div class="col-sm-10">
                            <select id="receptor_type" name="receptor_type" class="form-control" ng-model="receptor_type">
                                <option value="excitatory">Excitatory</option>
                                <option value="inhibitory">Inhibitory</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="connectors_type">Connectors type : </label>
                        <div class="col-sm-10">
                            <select id="connectors_type" name="connectors_type" class="form-control" ng-model="connectors_type">
                                <option value="AllToAll">AllToAll</option>
                                <option value="OneToOne">OneToOne</option>
                                <option value="FixedProbability">FixedProbability</option>
                                <!-- <option value="FromFile">FromFile</option> -->
                                <option value="FixedNumberPre">FixedNumberPre</option>
                                <option value="FixedNumberPost">FixedNumberPost</option>
                                <option value="FixedTotalNumber">FixedTotalNumber</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'AllToAll'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="AllToAll_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="AllToAll_allow_self_connections" name="AllToAll_allow_self_connections" type="checkbox" class="form-check-input" ng-model="AllToAll_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedProbability'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedProbability_p_connect">p_connect : </label>
                            <div class="col-sm-3">
                                <input id="FixedProbability_p_connect" name="FixedProbability_p_connect" type="number" min="0" step="0.001" placeholder="p_connect..." class="form-control input-md" ng-model="FixedProbability_p_connect">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedProbability_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedProbability_allow_self_connections" name="FixedProbability_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedProbability_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedNumberPre'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedNumberPre_n">n : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPre_n" name="FixedNumberPre_n" type="number" step="0.1" placeholder="number" class="form-control input-md" ng-model="FixedNumberPre_n">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPre_with_replacement">with replacement : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPre_with_replacement" name="FixedNumberPre_with_replacement" type="checkbox" class="form-check-input" ng-model="FixedNumberPre_with_replacement">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPre_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPre_allow_self_connections" name="FixedNumberPre_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedNumberPre_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedNumberPost'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedNumberPost_n">n : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPost_n" name="FixedNumberPost_n" type="number" step="0.1" placeholder="number" class="form-control input-md" ng-model="FixedNumberPost_n">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPost_with_replacement">with replacement : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPost_with_replacement" name="FixedNumberPost_with_replacement" type="checkbox" class="form-check-input" ng-model="FixedNumberPost_with_replacement">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedNumberPost_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedNumberPost_allow_self_connections" name="FixedNumberPost_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedNumberPost_allow_self_connections">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="connectors_type == 'FixedTotalNumber'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="FixedTotalNumber_n">n : </label>
                            <div class="col-sm-3">
                                <input id="FixedTotalNumber_n" name="FixedTotalNumber_n" type="number" step="0.1" placeholder="number" class="form-control input-md" ng-model="FixedTotalNumber_n">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedTotalNumber_with_replacement">with replacement : </label>
                            <div class="col-sm-3">
                                <input id="FixedTotalNumber_with_replacement" name="FixedTotalNumber_with_replacement" type="checkbox" class="form-check-input" ng-model="FixedTotalNumber_with_replacement">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2">&nbsp;</div>
                            <label class="control-label col-sm-2" for="FixedTotalNumber_allow_self_connections">allow self connections : </label>
                            <div class="col-sm-3">
                                <input id="FixedTotalNumber_allow_self_connections" name="FixedTotalNumber_allow_self_connections" type="checkbox" class="form-check-input" ng-model="FixedTotalNumber_allow_self_connections">
                            </div>
                        </div>
                    </div>
                </form>
                <span style="color:red;">{{msgAlert}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="beforeClose()" class="btn btn-primary">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
  