    
<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <form id="form-pop-neurons" class="form-horizontal col-sm-12" role="form">
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="name_value">Name : </label>
                        <div class="col-sm-10">
                            <input id="name_value" name="name_value" type="text" placeholder="Name..." class="form-control input-md" ng-model="name_value">
                        </div>
                    </div>
                        
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="level">Level : </label>  
                        <div class="col-sm-10">
                            <input id="level" name="level" type="text" placeholder="level..." class="form-control input-md" ng-model="level">
                        </div>
                    </div>
                    
                    <!-- Text input-->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="size">Size : </label>
                        <div class="col-sm-3">
                            <input id="size" name="size" type="number" min="0" step="1" placeholder="size" class="form-control input-md" ng-model="size">
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="form-group col-sm-12">
                        <label class="control-label col-sm-2" for="celltype">Cell Type : </label>
                        <div class="col-sm-10">
                            <!-- <select id="celltype" name="celltype" class="form-control" ng-model="celltype"> -->
                            <select id="celltype" name="celltype" class="form-control" ng-model="celltype" ng-change="updateForm()" ng-show="updateForm()">
                                <option value="IF_curr_alpha">IF_curr_alpha</option>
                                <option value="IF_curr_exp">IF_curr_exp</option>
                                <option value="IF_cond_alpha">IF_cond_alpha</option>
                                <option value="IF_cond_exp">IF_cond_exp</option>
                                <option value="HH_cond_exp">HH_cond_exp</option>
                                <option value="EIF_cond_alpha_isfa_ista">EIF_cond_alpha_isfa_ista</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="celltype == 'IF_curr_alpha' || celltype == 'IF_curr_exp'">
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Parameters :</b></div>
                            <label class="control-label col-sm-2" for="param_v_rest">v_rest : </label>
                            <div class="col-sm-3">
                                <input id="param_v_rest" name="param_v_rest" type="number" min="0" step="1" placeholder="v_rest..." class="form-control input-md" ng-model="param_v_rest" value="-65">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_cm">cm : </label>
                            <div class="col-sm-3">
                                <input id="param_cm" name="param_cm" type="number" min="0" step="1" placeholder="cm..." class="form-control input-md" ng-model="param_cm" value="1">
                            </div>
                            <div class="control-label col-sm-2">nF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_m">tau_m : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_m" name="param_tau_m" type="number" min="0" step="1" placeholder="tau_m..." class="form-control input-md" ng-model="param_tau_m" value="20">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_refrac">tau_refrac : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_refrac" name="param_tau_refrac" type="number" min="0" step="1" placeholder="tau_refrac..." class="form-control input-md" ng-model="param_tau_refrac" value="0">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_E">tau_syn_E : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_E" name="param_tau_syn_E" type="number" min="0" step="1" placeholder="tau_syn_E..." class="form-control input-md" ng-model="param_tau_syn_E">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_tau_syn_I">tau_syn_I : </label>
                            <div class="col-sm-3">
                                <input id="param_tau_syn_I" name="param_tau_syn_I" type="number" min="0" step="1" placeholder="tau_syn_I..." class="form-control input-md" ng-model="param_tau_syn_I">
                            </div>
                            <div class="control-label col-sm-2">ms</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_i_offset">i_offset : </label>
                            <div class="col-sm-3">
                                <input id="param_i_offset" name="param_i_offset" type="number" min="0" step="1" placeholder="i_offset..." class="form-control input-md" ng-model="param_i_offset">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_reset">v_reset : </label>
                            <div class="col-sm-3">
                                <input id="param_v_reset" name="param_v_reset" type="number" min="0" step="1" placeholder="v_reset..." class="form-control input-md" ng-model="param_v_reset">
                            </div>
                            <div class="control-label col-sm-2">mV</div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="param_v_thresh">v_thresh : </label>
                            <div class="col-sm-3">
                                <input id="param_v_thresh" name="param_v_thresh" type="number" min="0" step="1" placeholder="v_thresh..." class="form-control input-md" ng-model="param_v_thresh">
                            </div>
                            <div class="control-label col-sm-2">mF</div>
                        </div>

                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"><b>Initials Values :</b></div>
                            <label class="control-label col-sm-2" for="init_v">v : </label>
                            <div class="col-sm-3">
                                <input id="init_v" name="init_v" type="number" min="0" step="1" placeholder="v..." class="form-control input-md" ng-model="init_v">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_isyn_exc">isyn_exc : </label>
                            <div class="col-sm-3">
                                <input id="init_isyn_exc" name="init_isyn_exc" type="number" min="0" step="1" placeholder="isyn_exc..." class="form-control input-md" ng-model="init_isyn_exc">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <div class="control-label col-sm-2"></div>
                            <label class="control-label col-sm-2" for="init_isyn_inh">isyn_inh : </label>
                            <div class="col-sm-3">
                                <input id="init_isyn_inh" name="init_isyn_inh" type="number" min="0" step="1" placeholder="isyn_inh..." class="form-control input-md" ng-model="init_isyn_inh">
                            </div>
                        </div>
                    </div>
                    <div ng-if="celltype == 'IF_cond_alpha' || celltype == 'IF_cond_exp'">

                    </div>
                    <div ng-if="celltype == 'HH_cond_exp'">

                    </div>
                    <div ng-if="celltype == 'EIF_cond_alpha_isfa_ista'">

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
                <button type="button" ng-click="cancel()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>
  